* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ffdd41;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png") 39 39, auto;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}

.hire-section {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate3d(0, -50%, 0);
  text-align: center;
  color: #374962;
}

.hire-section__title {
  font-size: 42px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 15px;
}

.hire-section p {
  font-size: 20px;
  line-height: 1.5;
  margin: 5px 0;
}

.button {
  margin-top: 30px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 2.7;
  white-space: nowrap;
  cursor: pointer;
  background-color: #235bff;
  color: white;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  padding: 11px 22px;
  border-radius: 4px;
  border: 1px solid #235bff;
  transition: color 0.1s linear, background 0.1s ease;
}

.button:hover,
.button:active,
.button:focus {
  color: #235bff;
  background: transparent;
}
